.CommentaryTool {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background-color-one);
    overflow: hidden;
}

.CommentaryTool--progress-bar {
    margin: 3em;
    justify-content: center;
}

.CommentaryTool--document-container {
    width: 50%;
    height: 80%;
    margin-top: 3%;
    overflow: auto;
    position: relative;
}

.CommentaryTool--document-component {
    width: 100%;
    height: 100%;
    color: var(--font-color);
    position: relative;
    text-align: center;
}