.CommentaryNavigator {
    box-sizing: border-box;
    height: var(--commentary-navigator-height);
    width: 60%;
    padding: 0.6rem;
    margin-bottom: var(--commentary-navigator-bottom-margin);
    border-radius: 0.5rem;
    position: absolute;
    bottom: 0;
    z-index: 102;
    background-color: var(--background-color-two);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.CommentaryNavigator--commentary-section-display {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.CommentaryNavigator--commentary-section-icon.selected {
    box-sizing: border-box;
    height: 1rem;
    width: 1rem;
    margin-inline: 0.2rem;
    border-radius: 1rem;
    background-color: var(--accent-color-one);
    cursor: pointer;
}

.CommentaryNavigator--commentary-section-icon.unselected {
    box-sizing: border-box;
    height: 0.75rem;
    width: 0.75rem;
    margin-inline: 0.3rem;
    border-radius: 1rem;
    background-color: var(--accent-color-one--transparent);
    cursor: pointer;
}

.CommentaryNavigator--button-container--previous {
    padding-right: 0.6em;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.CommentaryNavigator--button-container--next {
    padding-left: 0.6em;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.CommentaryNavigator--navigate-button, 
.CommentaryNavigator--navigate-button-placeholder {
    height: 1.6rem;
    width: 1.6rem;
    margin: 0;
    padding: 0;
}

.CommentaryNavigator--empty-commentary-message {
    color: var(--font-color);
}