.CommentaryOverlay {
    box-sizing: border-box;
    height: 45%;
    width: 85%;
    padding-top: 1rem;
    padding-inline: 2rem;
    margin-bottom: var(--commentary-navigator-bottom-margin);
    border-radius: 0.5rem;
    position: absolute;
    bottom: 0;
    z-index: 101;
    color: var(--font-color);
    background-color: var(--background-color-two);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.CommentaryOverlay--close-button {
    box-sizing: border-box;
    height: 1.4rem;
    width: 1.4rem;
    padding: 0.3em;
    margin: 0;
    align-self: flex-end;
    position: relative;
    left: 1.5%;
}

.CommentaryOverlay--section-text--read-only {
    height: 100%;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: calc(var(--commentary-navigator-height) + 0.2rem);
    border-bottom: 0.1rem solid var(--background-color-one);
    overflow: scroll;
}

.CommentaryOverlay--section-text--edit {
    font-family: inherit;
    height: 100%;
    width: 100%;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: calc(var(--commentary-navigator-height) + 0.2rem);
    border-radius: 0.5rem;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 0.1rem solid var(--background-color-one);
    background-color: var(--background-color-two);
    color: var(--font-color);
    overflow: scroll;
    resize: none;
    filter: brightness(1.2);
    transition: filter ease 0.5s;
}