.CommentaryNavigator {
    box-sizing: border-box;
    height: var(--commentary-navigator-height);
    min-width: 50rem;
    padding: 0.6rem;
    margin-bottom: var(--commentary-navigator-bottom-margin);
    border-radius: 0.5rem;
    position: absolute;
    bottom: 0;
    z-index: 102;
    background-color: var(--background-color-two);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.commentary-section-display {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.commentary-section-icon--selected {
    box-sizing: border-box;
    height: 1rem;
    width: 1rem;
    margin-inline: 0.2rem;
    border-radius: 1rem;
    background-color: var(--accent-color-one);
    cursor: pointer;
}

.commentary-section-icon--unselected {
    box-sizing: border-box;
    height: 0.75rem;
    width: 0.75rem;
    margin-inline: 0.3rem;
    border-radius: 1rem;
    background-color: var(--accent-color-one--transparent);
    cursor: pointer;
}