.CommentaryEditBar {
    width: 4rem;
    padding: 0.6rem;
    margin-right: 1.2rem;
    position: absolute;
    right: 0;
    top: 15vh;
    z-index: 102;
    background-color: var(--background-color-two);
}

.CommentaryEditBar--coordinate-select-message {
    color: var(--font-color);
}