.CommentaryEditBar {
    padding: 0.6rem;
    margin-right: 3%;
    border-radius: 0.5rem;
    position: absolute;
    right: 0;
    top: 12%;
    z-index: 102;
    background-color: var(--background-color-two);
}

.CommentaryEditBar--coordinate-select-message {
    color: var(--font-color);
}