.Dashboard {
    width: 100%;
    height: 100%;
    background-color: var(--background-color-one);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Dashboard--main {
    width: 100%;
    height: calc(100% - var(--header-height));
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.Dashboard--no-groups-message-container {
    width: 34%;
    margin-block: 12rem;
    margin-inline: 20%;
}

.Dashboard--no-groups-message-text {
    font-weight: 500;
    color: var(--font-color);
}