.DocumentSelector {
    padding-inline: 1.2em;
    padding-block: 1.5em;
    margin: 1em;
    border-radius: 0.7rem;
    border: 0.1em solid var(--font-color);
    color: var(--font-color);
    background-color: var(--background-color-three);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.DocumentSelector.selected {
    border: 0.2em solid var(--accent-color-one);
    cursor: default;
}

.DocumentSelector--document-name {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.DocumentSelector--button-section {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.DocumentSelector--divider {
    margin-inline: 0.5em;
    flex-grow: 2;
    border: 0.1em solid var(--accent-color-one);
}