.DocumentThumbnail {
    height: fit-content;
    width: fit-content;
}

.DocumentThumbnail--document-component {
    height: fit-content;
    width: fit-content;
}

.DocumentThumbnail--document-page {
    height: fit-content;
    width: fit-content;
    border-radius: 0.5rem;
    overflow: hidden;
}