.GroupSelector {
    padding-inline: 1em;
    margin-block: 0.5em;
    margin-inline: 0;
    border-radius: 0.5rem;
    border: 0.2em solid var(--font-color);
    cursor: pointer;
    transition: filter 0.2s ease;
    display: grid;
    place-content: center;
}

.GroupSelector:hover {
    filter: brightness(1.2);
}

.GroupSelector:active {
    filter: brightness(2);
}

.GroupSelector.selected {
    border-width: 0.2em;
    border-color: var(--accent-color-one);
}

.GroupSelector--group-name {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}