.Header {
    box-sizing: border-box;
    height: 3.5rem;
    width: 100%;
    padding: 0.5rem;
    color: var(--font-color);
    background-color: var(--background-color-two);
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.Header--username {
    margin-inline: 1em;
    margin-block: 0;
}