.LoginForm {
    height: 70%;
    width: 30%;
    margin: 4rem;
    padding: 3rem;
    border: 0.1em solid var(--background-color-two);
    color: var(--font-color);
    align-self: flex-end;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    'title title . mode-button'
    'username-label . username-input username-input'
    'password-label . password-input password-input'
    'submit-button . . .'
    '. prompt-message prompt-message .';
}

.LoginForm--title {
    grid-area: title;
    margin: 0;
}

.LoginForm--form-mode-button--login {
    grid-area: mode-button;
    max-height: 2em;
    max-width: 12em;
    margin: 0;
}

.LoginForm--form-mode-button--create {
    grid-area: mode-button;
    max-height: 2em;
    max-width: 12em;
    margin: 0;
}

.LoginForm--username-label {
    grid-area: username-label;
}

.LoginForm--username-input {
    grid-area: username-input;
    max-height: 1.5em;
}

.LoginForm--password-label {
    grid-area: password-label;
}

.LoginForm--password-input {
    grid-area: password-input;
    max-height: 1.5em;
}

.LoginForm--submit-button {
    grid-area: submit-button;
    max-height: 2em;
    margin: 0;
}

.LoginForm--prompt-message {
    grid-area: prompt-message;
}