.LoginForm {
    margin-inline: 4rem;
    margin-block: 2rem;
    padding: 3rem;
    padding-bottom: 4rem;
    border-radius: 0.5em;
    border: 0.2em solid var(--background-color-two);
    color: var(--font-color);
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    row-gap: 3em;
    grid-template-areas: 
    'title title . .'
    'username-label . username-input username-input'
    'password-label . password-input password-input'
    'submit-button . . .';
}

.LoginForm--title {
    grid-area: title;
    margin: 0;
}

.LoginForm--username-label {
    grid-area: username-label;
}

.LoginForm--username-input {
    grid-area: username-input;
    max-height: 1.5em;
}

.LoginForm--password-label {
    grid-area: password-label;
}

.LoginForm--password-input {
    grid-area: password-input;
    max-height: 1.5em;
}

.LoginForm--submit-button {
    grid-area: submit-button;
    max-height: 2em;
    margin: 0;
}