.NetworkPanel {
    height: 100%;
    width: 12rem;
    padding: 2em;
    border-left: 0.2em solid var(--background-color-two);
    align-self: flex-end;
    color: var(--font-color);
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.NetworkPanel--groups-title {
    margin-top: 4rem;
    align-self: center;
}

.NetworkPanel--group-membership-list {
    width: 100%;
    align-self: center;
    overflow: scroll;
}