.selection-box--active-selection {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgba(255, 231, 47, 0.5);
    border: 0.2em solid gold;
    pointer-events: none;
}

.selection-box--commentary-section.unselected {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgba(255, 231, 47, 0.5);
    border: 0.2em solid transparent;
    cursor: pointer;
}

.selection-box--commentary-section.selected {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgba(255, 231, 47, 0.5);
    border: 0.2em solid gold;
    cursor: pointer;
}