.selection-box--active-selection {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: var(--accent-color-one--transparent);
    border: 0.2em solid var(--accent-color-one);
    pointer-events: none;
}

.selection-box--commentary-section.unselected {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: var(--accent-color-one--transparent);
    border: 0.2em solid transparent;
    cursor: pointer;
}

.selection-box--commentary-section.selected {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: var(--accent-color-one--transparent);
    border: 0.2em solid var(--accent-color-one);
    cursor: pointer;
}