.UserCreationForm {
    margin-inline: 4rem;
    margin-block: 1rem;
    padding: 3rem;
    padding-bottom: 4rem;
    border-radius: 0.5em;
    border: 0.2em solid var(--background-color-two);
    color: var(--font-color);
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    row-gap: 3em;
    grid-template-areas: 
    'title title . .'
    'username-label . username-input username-input' 
    'password-label . password-input password-input' 
    'password-check-label . password-check-input password-check-input'
    'submit-button . . .';
}

.UserCreationForm--title {
    grid-area: title;
    margin: 0;
}

.UserCreationForm--username-label {
    grid-area: username-label;
}

.UserCreationForm--username-input {
    grid-area: username-input;
    max-height: 1.5em;
}

.UserCreationForm--password-label {
    grid-area: password-label;
}

.UserCreationForm--password-input {
    grid-area: password-input;
    max-height: 1.5em;
}

.UserCreationForm--password-check-label {
    grid-area: password-check-label;
}

.UserCreationForm--password-check-input {
    grid-area: password-check-input;
    max-height: 1.5em;
}

.UserCreationForm--submit-button {
    grid-area: submit-button;
    max-height: 2em;
    margin: 0;
}

.UserCreationForm--username-prompt {
    height: 0;
    width: 0;
    position: relative;
    top: 6.7em;
    white-space: nowrap;
}

.UserCreationForm--password-prompt {
    height: 0;
    width: 0;
    position: relative;
    top: 15.2em;
    right: 5.8em;
    white-space: nowrap;
}
